/* CSS styles for the grid layout */
.star-page {
    text-align: center;
    /* background-color: aqua; */
  }
  
  .star-title {
    background-image:url("../images/gifting.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0cqhq;
    text-align:center;
    font-size:70px;
    height:250px;
    margin-top:-10px;
    margin-left:-10px;
    margin-right:-6px;
    opacity:0.9;
    position:relative;
    z-index:-1;
}

.grid-container {
    margin-top:35px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 10px;
}

.grid-item {
    position: relative;
    /* border:2px solid black; */
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.grid-item {
    position: relative;
    overflow: hidden; /* Ensure the overflow is hidden to contain the bulging effect */
  }
  .grid-item:hover
  {
    background-color:whitesmoke;
  }
  .grid-item:hover {
    transform: scale(1.1); /* Bulge the image when grid item is hovered */
    transition: transform 0.3s ease; /* Add a smooth transition */
  }
  
.grid-item img {
    width:300px;
    height:300px;
  }
  
  .description {
    margin-top: 10px;
    width:300px;
    margin-left:30px;
  }
  
  .rating {
    margin-top: 5px;
  }
  
  .rate {
    font-weight: bold;
    margin-top: 5px;
  }
  
  .discount-badge {
    position: absolute;
    top: -5px;
    right: 30px;
    background-color: #ff9800;
    color: white;
    padding: 5px 10px;
    font-size:14px;
    border:1px solid rgb(193, 144, 144);
    border-radius: 12px 1px;
  }
  
  /* CSS styles for the rating stars */
  .rating span {
    color: gold;
  }
  .discount-badge::after {
    content: attr(data-discount); /* Display discount percentage */
  }
  .custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c0be68;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: rgb(97, 76, 76);
    /* border: 1px solid black; */
    text-decoration: none;
    font-size: 16px;
    border-radius:5px;
    cursor: pointer;
    width:72%;
    font-family:Gadugi;
    font-weight: bold;
}

.custom-button:hover {
    color:black;
    transform: scale(1.1); /* Bulge the image when grid item is hovered */
    transition: transform 0.3s ease;
    /* box-shadow: rgba(23, 16, 3, 0.529) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  }
