/* Example import in your main CSS file */
@import '@fortawesome/fontawesome-free/css/all.css';
.sidebar {
    width: 150px;
    height: 100vh;
    /* background-color:transparent; */
    background-color:white;
    color: #fff;
    position: fixed;
    top:0px;
    border-radius:4px ;
    left: -190px;
    font-size: 20px;
    transition: left 0.3s ease;
}
.remain{
  float:left;
  width:1520px;
  height:780px;
  background-color: rgba(0,0,0,0.7);
  margin-top:-700px;
  margin-left:130px;
  /* border-radius:0px 200px; */
}
.sidebar.open {
    left: 0;
}
.sidebar ul {
    list-style: none;
    /* padding-right: 4px; */
}
.sidebar li {
    padding-bottom: 80px;
    padding-left: 1px;
    /* padding-bottom:30px; */
    
    /* padding-top:10px; */
    /* background-color: rgba(0,0,0,0.5); */
  }
  .sidebar li i {
    float:left;
    padding-right: 20px;
    padding-left: 0px;
    margin-top:3px;
    margin-left:-30px;
    font-size: 24px; /* Adjust the font size of the icon */
}
.sidebar i
{
  color:rgb(9, 9, 9);

}
.sidebar li:hover {
    /* background-color: black;  */
    border-radius:10px;
    width: auto;
    /* background-color: rgb(98, 98, 5); */
     /* background-color: rgba(54, 133, 223, 0.5); */
     /* box-shadow: rgba(55, 207, 207, 0.921) 0px -50px 36px -28px inset; */
  }
  .sidebar a {
    text-decoration: none;
    color:#c629ae;
    font-size:30px;
  }
  .sidebar a:hover{
    color: #761980;
    text-decoration: none;
  }
  .toggle-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: -16px;
    padding: 10px;
    background-color:transparent;
    border: none;
    outline: none;
    text-align:center;
    border-radius: 3px;
    width:100px;
    font-size:30px;
    height:40px;
    position:fixed;
  }
  .toggle-btn i{
  color:black;
  }